extends layout

block content
  h1 #{title}
  form(method="post", action='makePost')
    | Title:
    br
    input(type="text" name="title" placeholder="Title")
    br
    | Topic:
    br
    input(type='text' name="topic" placeholder="topic")
    br
    | Post:
    br
    textarea(rows="4" cols="50" name="body")
    br
    author
    br
    input(type="text" name="author" placeholder="author")
    br
    input(type='submit' value='submit' )
